@charset "UTF-8";

:root {

  --bs-font-sans-serif: syne, kanit;
  --bs-font-monospace: share tech mono;

  --bs-border-color: #c7bbbb;
}

.flex-column-rev-until-md-row { flex-direction: column-reverse; }

.fs-1c { font-size: calc(.25rem + 4vw); }
.fs-tab { font-size: calc(.5rem + 1.1vw); }
.fs-4c { font-size: calc(.5rem + 1.2vw); }
.fs-5c { font-size: calc(.3rem + 1vw); }

.fsp-1 { letter-spacing: .5rem; }
.fsp-2 { letter-spacing: .25rem; }
.fsp-3 { letter-spacing: .125rem; }
.fsp-4 { letter-spacing: .0625rem; }

.m-6 { margin: 4rem; }
.my-6 { margin-top: 4rem; margin-bottom: 4rem; }
.mx-6 { margin-left: 4rem; margin-left: 4rem; }

.m-7 { margin: 6rem; }
.my-7 { margin-top: 6rem; margin-bottom: 6rem; }
.mx-7 { margin-left: 6rem; margin-left: 6rem; }

.mt-n2 { margin-top: -.5rem; }
.mt-n3 { margin-top: -1.0rem; }
.mt-n4 { margin-top: -1.5rem; }
.mt-n5 { margin-top: -2rem; }
.mt-n6 { margin-top: -4rem; }
.mt-n7 { margin-top: -5rem; }

.pt-6 { padding-top: 4rem; }
.pb-6 { padding-bottom: 4rem; }

.pt-7 { padding-top: 6rem; }
.pb-7 { padding-bottom: 6rem; }

.ts-bottom { text-shadow: 0 .25rem .5rem #0000007f; }

.gap-6 { gap: 4rem; }
.gap-5 { gap: 5rem; }
.gap-6 { gap: 6rem; }
.gap-7 { gap: 8rem; }

.row-over-sm, .row-over-md, .row-over-lg { flex-direction: row; }
.col-below-sm, .col-below-md, .col-below-lg { flex-direction: row; }

/* REACTIVE THINGS */

.mobile .col-mobile-11 {
  flex: 0 0 auto;
  width: 91.667%;
}

@media screen and (max-width: 150em) {
  .section-border { margin: 2vw 0; }
}

/* GREATER THAN EXTRALARGE (DESKTOP) */
@media screen and (min-width: 1200px) {
  .fs-tab { font-size: 1.5rem; }
  .show-until-xl { display: none !important; }
}

/* LESS THAN EXTRALARGE (DESKTOP) */
@media screen and (max-width: 1199.5px) { 
  .show-over-xl { display: none !important; } 
}

/* GREATER THAN LARGE */
@media screen and (min-width: 992px) {
  .fs-1c { font-size: 4rem; }
  .fs-4c { font-size: 1.5rem; }
  .fs-5c { font-size: 1.25rem; }
  .show-until-lg { display: none !important; }
}

/* LESS THAN LARGE */
@media screen and (max-width: 991.5px) { 
  .show-over-lg { display: none !important; } 
  .row-over-lg, .col-below-lg { flex-direction: column; }
}

/* GREATER THAN MEDIUM */
@media screen and (min-width: 768px) { 
  .flex-column-rev-until-md-row { flex-direction: row; }
  .show-until-md { display: none !important; }
}

/* LESS THAN MEDIUM */
@media screen and (max-width: 767.5px) { 
  .header-socials-item img { width: 32px; }
  .show-over-md { display: none !important; }
  .row-over-md, .col-below-md { flex-direction: column; }
}

/* GREATER THAN SMALL (PHONE) */
@media screen and (min-width: 577px) { 
  .show-until-sm { display: none !important; }
}

/* LESS THAN SMALL (PHONE) */
@media screen and (max-width: 576.5px) { 
  .row-over-sm, .col-below-sm { flex-direction: column; }
}